<div class="container">
  <mat-card class="pass-check-container" *ngIf="isUser">
    <div class="pass-check-input-container">
      <mat-form-field
        appearance="fill"
        (keydown)="keyDownFunction($event, password)"
      >
        <mat-label>Password?</mat-label>
        <input #inputOne matInput [(ngModel)]="password" appAutoFocus />
        <mat-hint [textContent]="message"></mat-hint>
      </mat-form-field>
      <button class="button" (click)="passwordCheck(password)" mat-button>
        Submit
      </button>
      <button class="button" (click)="isUser = false" mat-button>Cancel</button>
    </div>
  </mat-card>

  <div class="updateBtn-container">
    <button class="updateBtn" mat-button (click)="updateBtn()">
      Add Some Stuff
    </button>
  </div>

  <mat-tab-group class="list-wrapper" mat-align-tabs="space-between">
    <!-- ============================ Dashi Part ================================= -->

    <mat-tab label="Dashi">
      <app-update-view
        *ngIf="isEditModeOnDashi && isDashi"
        [theWishList]="wishListOfDashi"
        [thePostUrl]="dashiPostUrl"
      >
      </app-update-view>

      <div class="lists" *ngIf="isEditModeOnDashi == false">
        <button mat-button (click)="isClothesDashi = !isClothesDashi">
          <h3>Clothes</h3>
        </button>

        <div *ngIf="isClothesDashi">
          <mat-card
            id="dashiList0"
            class="item-container"
            *ngFor="let x of allDashiLists[0]"
          >
            <p style="text-transform: capitalize">- {{ x.title }}</p>
            <button
              class="link-icons"
              (click)="goToLink(x.link)"
              mat-icon-button
              aria-label="Example icon button with a open in new tab icon"
            >
              <mat-icon>open_in_new</mat-icon>
            </button>
          </mat-card>
        </div>

        <button mat-button (click)="isElectronicDashi = !isElectronicDashi"><h3>Electronic</h3></button>
        <div *ngIf="isElectronicDashi">
          <mat-card
            id="dashiList1"
            class="item-container"
            *ngFor="let x of allDashiLists[1]"
          >
            <p style="text-transform: capitalize">- {{ x.title }}</p>
            <button
              class="link-icons"
              (click)="goToLink(x.link)"
              mat-icon-button
              aria-label="Example icon button with a open in new tab icon"
            >
              <mat-icon>open_in_new</mat-icon>
            </button>
          </mat-card>
        </div>

        <button mat-button (click)="isOtherDashi = !isOtherDashi"><h3>Other</h3></button>
        <div *ngIf="isOtherDashi">
          <mat-card
            id="dashiList2"
            class="item-container"
            *ngFor="let x of allDashiLists[2]"
          >
            <p style="text-transform: capitalize">- {{ x.title }}</p>
            <button
              class="link-icons"
              (click)="goToLink(x.link)"
              mat-icon-button
              aria-label="Example icon button with a open in new tab icon"
            >
              <mat-icon>open_in_new</mat-icon>
            </button>
          </mat-card>
        </div>
      </div>
    </mat-tab>

    <!-- ========================= End of Dashi Part ================================= -->

    <!-- ============================ Djuli Part ================================= -->

    <mat-tab label="Djuli">
      <app-update-view
        *ngIf="isEditModeOnDjuli && isDjuli"
        [theWishList]="wishListOfDjuli"
        [thePostUrl]="djuliPostUrl"
      >
      </app-update-view>

      <div class="lists" *ngIf="isEditModeOnDjuli == false">
        <button mat-button (click)="isClothesDjuli = !isClothesDjuli"><h3>Clothes</h3></button>
        <div *ngIf="isClothesDjuli">
          <mat-card
            id="djuliList0"
            class="item-container"
            *ngFor="let x of allDjuliLists[0]"
          >
            <p style="text-transform: capitalize">- {{ x.title }}</p>
            <button
              class="link-icons"
              (click)="goToLink(x.link)"
              mat-icon-button
              aria-label="Example icon button with a open in new tab icon"
            >
              <mat-icon>open_in_new</mat-icon>
            </button>
          </mat-card>
        </div>

        <button mat-button (click)="isElectronicDjuli = !isElectronicDjuli"><h3>Electronic</h3></button>
        <div *ngIf="isElectronicDjuli">
          <mat-card
            id="djuliList1"
            class="item-container"
            *ngFor="let x of allDjuliLists[1]"
          >
            <p style="text-transform: capitalize">- {{ x.title }}</p>
            <button
              class="link-icons"
              (click)="goToLink(x.link)"
              mat-icon-button
              aria-label="Example icon button with a open in new tab icon"
            >
              <mat-icon>open_in_new</mat-icon>
            </button>
          </mat-card>
        </div>

        <button mat-button (click)="isOtherDjuli = !isOtherDjuli"><h3>Other</h3></button>
        <div *ngIf="isOtherDjuli">
          <mat-card
            id="djuliList2"
            class="item-container"
            *ngFor="let x of allDjuliLists[2]"
          >
            <h3>- {{ x.title }}</h3>
            <button
              class="link-icons"
              (click)="goToLink(x.link)"
              mat-icon-button
              aria-label="Example icon button with a open in new tab icon"
            >
              <mat-icon>open_in_new</mat-icon>
            </button>
          </mat-card>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
  <button
    *ngIf="isEditModeOnDashi || isEditModeOnDjuli"
    (click)="
      isEditModeOnDashi =
        !isEditModeOnDashi && (isEditModeOnDjuli = !isEditModeOnDjuli)
    "
    class="closeButton"
    mat-button
  >
    Close
  </button>

  <!-- ========================= End of Djuli Part ================================ -->
</div>
