<div class="container">
    <article class="list-containers list-container-one">
        <div class="input-container">
            <mat-form-field appearance="fill">
                <mat-label></mat-label>
                <input id="input-one" matInput [(ngModel)]="dashiInput">
            </mat-form-field>
            <button (click)='submitDashi()' mat-button>Add</button>
        </div>
        <ul class="lists">
            <li *ngFor="let x of wishListOfDashi">{{x.item}}</li>
        </ul>
    </article>
    <article class="list-containers list-container-two">
        <div class="input-container">
            <mat-form-field appearance="fill">
                <mat-label></mat-label>
                <input id="input-two" matInput>
            </mat-form-field>
            <button (click)='submitDjuli()' mat-button>Add</button>
        </div>
        <ul class="lists">
            <li *ngFor="let x of wishListOfDjuli">{{x}}</li>
        </ul>
    </article>
</div>