* {
  margin: 0;
  padding: 0;
}
@media only screen and (max-width: 900px) {
  .container {
    mat-card{
      background-color: rgb(246, 246, 246);
    }
    .list-wrapper{
      display: flex;
      flex-direction: column;
      .list-containers {
        display: flex;
        align-self: center;
      }
    }
  }
}

.container {
  display: grid;
  .updateBtn{
    margin: 10px 0 5px 0;
    justify-self: center;
    border: rgb(27, 27, 27) solid 1px;
    width: 200px;
  }
  .button {
    align-self: center;
    margin: 3px;
    border: rgb(27, 27, 27) solid 1px;
    width: 200px;
  }
  .pass-check-container{
    z-index: 1;
    display: grid;
    position: fixed;
    justify-self: center;
    top: 30px;
    min-width: 250px;
    min-height: 200px;
    .pass-check-input-container {
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      align-self: center;
      justify-self: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: space-between;
    }
  }

  .list-wrapper {
    display: flex;
    justify-content: space-evenly;
    padding: 0 0 50px 0 ;
    .list-containers {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      width: 100%;
      h2{
        text-align: center;
      }
      .edit-component{
        display: flex;
        flex-direction: column;
        height: 100%;
        border-radius: 5px;
        margin: 5px;
        min-width: 300px;
      }
      .lists {
        display: flex;
        flex-direction: column;
        height: 100%;
        border-radius: 5px;
        margin: 5px;
        min-width: 300px;
        .item-container {
          justify-self: flex-start;
          display: flex;
          align-items: center;
          margin: 5px 0 0 0;
          .wish-container{
            padding: 0 4px 0 4px;
            display: flex;
            justify-content: space-between;
            width: 100%;
            h3{
              text-transform: capitalize;
              margin: 0;
            }
          }
        }
      }
    }
  }
}
