* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  .list-containers {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    padding: 25px;
    .lists {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      height: 100%;
      width: 100%;
      .item-container {
        width: 100%;
        max-height: 50px;
        display: flex;
        align-items: center;
      }
    }
    button {
      margin: 3px;
      border: white solid 1px;
      justify-self: end;
    }
  }

  .list-container-one {
    background-image: linear-gradient(rgba(53, 81, 104, 0.5),rgba(53, 81, 104, 0.5));
  }
  .list-container-two {
    background-image: linear-gradient(rgba(144, 58, 126, 0.5),rgba(144, 58, 126, 0.5));
  }
}
