*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    mat-card{
        background-color: rgb(246, 246, 246);
      }
    .button{
        margin: 3px;
        border: rgb(27, 27, 27) solid 1px;
        width: 200px;
        align-self: center;
    }
    .input-container{
        display: flex;
        flex-direction: column;
        padding: 8px;
        .input-field{
            margin: 0 0 5px 0;
            border: rgb(27, 27, 27) solid 1px;
        }
    }
    h2{
        margin: 10px 0 0 0;
    }
    .item-container{
        display: flex;
        justify-content: space-between;
        width: 90%;
        align-self: center;
        margin: .5em 0 0 0;
        padding: .5em;
        h5{
            cursor: pointer;
        }

    }
}
