.container{
    display: flex;
    flex-direction: column;
    .input-container{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .list-container{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        .item-container{
            display: flex;
            justify-content: space-between;
            h5{
                cursor: pointer;
            }
        }
    }
}